Repository karczujr/Zasun.eu---Astro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

About update 4
  src/components/About.astro
  src/components/Hero.astro
  styles/sass/base/_typography.scss
  styles/sass/main.scss
Due: prettier --write, eslint --fix, stylelint --fix

About update (#13)
  public/img/about.jpg
  src/components/About.astro
  src/components/Hero.astro
  src/pages/index.astro
  styles/sass/base/_page.scss
  styles/sass/base/_typography.scss
  styles/sass/main.scss
Due: prettier --write, eslint --fix, stylelint --fix

Contact update 1
  public/img/contact.svg
  src/components/Contact.astro
  src/pages/index.astro
  styles/sass/base/_typography.scss
  styles/sass/main.scss
Due: prettier --write, eslint --fix, stylelint --fix

Contact update 2
  src/components/Contact.astro
Due: prettier --write, eslint --fix, stylelint --fix

Contact & services update 1
  styles/sass/base/_typography.scss
  styles/sass/main.scss
Due: prettier --write, stylelint --fix

Contact update 3
  src/components/Contact.astro
Due: prettier --write, eslint --fix, stylelint --fix

Conrtact & services update 2
  src/components/Card.astro
  src/components/Services.astro
  src/env.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

Contact & services update 3
  src/env.d.ts
Due: none

env.d.ts
  src/env.d.ts
Due: none

Contact & services update 4
  Comments.md
  src/components/Services.astro
Due: prettier --write, eslint --fix, stylelint --fix

Contact & services update 5
  .lintstagedrc
  Comments.md
Due: none

update comments by prettier
  Comments.md
Due: none

CMS update 1
  src/env.d.ts
  src/pages/index.astro
Due: prettier --write, eslint --fix, stylelint --fix

Update env.d.ts
  src/env.d.ts
Due: none

CMS update 2
  .lintstagedrc
  src/pages/index.astro
Due: prettier --write, eslint --fix, stylelint --fix

Update env.d.ts 2
  src/env.d.ts
Due: none

Update env.d.ts 3
  src/env.d.ts
Due: none

CMS update 3
  .lintstagedrc
  astro.config.mjs
  package-lock.json
  package.json
  src/env.d.ts
  tsconfig.json
Due: none

Sanity update 1
  backend/.sanity/runtime/app.js
  backend/.sanity/runtime/index.html
  src/env.d.ts
Due: none

update jobs for frontend
  .github/workflows/build.yml
Due: none

fix
  .github/actions/setup/action.yml
  .husky/pre-commit
Due: none

fix path
  .github/actions/setup/action.yml
Due: none

set working dir
  .github/actions/setup/action.yml
  .github/workflows/build.yml
Due: none

try with working dir now
  .github/actions/setup/action.yml
  .github/workflows/build.yml
Due: none

set directory in action
  .github/actions/setup/action.yml
Due: none

?
  .github/actions/setup/action.yml
  .github/workflows/build.yml
Due: none

try those
  .github/workflows/build.yml
Due: none

set directory in action
  .github/actions/setup/action.yml
  .github/workflows/build.yml
Due: none

fix hustky
  frontend/package.json
Due: none

update Ci for frontend (#17)
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  frontend/package.json
Due: none

priettierignore
  .prettierignore
  src/env.d.ts
Due: none

Update 1
  .DS_Store
  backend/schemas/card.ts
  backend/schemas/category.ts
  backend/schemas/index.ts
  backend/schemas/post copy.ts
  frontend/.eslintignore
  frontend/sanity/api.js
  frontend/src/components/Footer.astro
  frontend/src/components/H1.astro
  frontend/src/components/Hero.astro
  frontend/src/components/Hero2.astro
  frontend/src/components/Hero3.astro
  frontend/src/components/Images.astro
  frontend/src/components/Navigation.astro
  frontend/src/components/Projects.astro
  frontend/src/env.d.ts
  frontend/src/pages/gallery.astro
  frontend/src/pages/index.astro
  frontend/src/pages/projects/[slug].astro
  frontend/src/sanity/api.ts
  frontend/src/sanity/posts/PostDTO.ts
  frontend/src/sanity/urlForImage.js
  frontend/styles/sass/base/_link.scss
  node_modules/.package-lock.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.astro) or (any of: *.scss)) or (any of: [*.json, *.yml])
  eslint --fix: any of: *.astro
  stylelint --fix: (any of: *.astro) or (any of: *.scss)
