Repository karczujr/Zasun.eu---Astro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.astro": ["prettier --write", "eslint --fix", "stylelint --fix"],
  "*.scss": ["stylelint --fix"],
  "[*.json, *.yml]": ["prettier --write"]
}

1st upgrade
  Comments.md
  package-lock.json
  package.json
  src/components/Navigation.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  styles/sass/base/_page.scss
  styles/sass/layout/_nav.scss
  styles/sass/main.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix style linting on commit
  .lintstagedrc
Due: none

Pixels change
  src/components/Navigation.astro
Due: prettier --write, eslint --fix, stylelint --fix

Nav update 2
  Comments.md
  src/components/Navigation.astro
  src/pages/index.astro
  styles/sass/base/_link.scss
  styles/sass/base/_page.scss
  styles/sass/main.scss
Due: prettier --write, eslint --fix, stylelint --fix

Nav update 2
  Comments.md
  src/components/Navigation.astro
  styles/sass/base/_link.scss
  styles/sass/base/_typography.scss
Due: prettier --write, eslint --fix, stylelint --fix

Nav update 3
  .lintstagedrc
  Comments.md
Due: none

feat: use scss for styling
  styles/sass/base/_link.scss
Due: stylelint --fix

use css variables in avigation
  src/components/Navigation.astro
Due: prettier --write, eslint --fix, stylelint --fix

feat: use css variables for the link styling
  Comments.md
  src/components/Navigation.astro
  styles/sass/base/_link.scss
Due: prettier --write, eslint --fix, stylelint --fix

Nav update 4
  Comments.md
  src/pages/index.astro
Due: prettier --write, eslint --fix, stylelint --fix

Nav update 4
  src/components/Navigation.astro
  styles/sass/base/_link.scss
Due: prettier --write, eslint --fix, stylelint --fix

Nav update 5
  .lintstagedrc
Due: none

fix: stylelint config fix
  .stylelintrc.json
  package-lock.json
  package.json
  src/components/Card.astro
  src/layouts/Layout.astro
  src/pages/index.astro
Due: prettier --write, eslint --fix, stylelint --fix

feat: setup CI process (#4)
  .eslintrc.cjs
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .lintstagedrc
  .stylelintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/pages/index.astro
Due: prettier --write, eslint --fix, stylelint --fix

fix: stylelint config (#6)
  .stylelintrc.json
  package-lock.json
  package.json
  src/components/Card.astro
  src/layouts/Layout.astro
  src/pages/index.astro
Due: prettier --write, eslint --fix, stylelint --fix

Header merge
  src/components/Navigation.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  styles/sass/base/_link.scss
  styles/sass/base/_typography.scss
Due: prettier --write, eslint --fix, stylelint --fix

Link Change
  styles/sass/base/_link.scss
Due: stylelint --fix

Add header (#3)
  Comments.md
  package-lock.json
  package.json
  public/img/Logo_black.svg
  src/components/Card.astro
  src/components/Navigation.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  styles/sass/base/_link.scss
  styles/sass/base/_page.scss
  styles/sass/base/_typography.scss
  styles/sass/main.scss
Due: prettier --write, eslint --fix, stylelint --fix

Fix 1
  styles/sass/base/_link.scss
Due: stylelint --fix

Fix 1 (#7)
  styles/sass/base/_link.scss
Due: stylelint --fix

refactor: use css variables for links
  src/components/Navigation.astro
  styles/sass/base/_link.scss
Due: prettier --write, eslint --fix, stylelint --fix

Fotter update 1
  src/components/Footer.astro
  src/pages/index.astro
  styles/sass/base/_page.scss
Due: prettier --write, eslint --fix, stylelint --fix

refactor: use css variables for links (#8)
  src/components/Navigation.astro
  styles/sass/base/_link.scss
Due: prettier --write, eslint --fix, stylelint --fix

Footer update 2
  src/components/Footer.astro
  styles/sass/base/_typography.scss
Due: prettier --write, eslint --fix, stylelint --fix

Footer update 3
  src/components/Footer.astro
Due: prettier --write, eslint --fix, stylelint --fix

Add fotter (#9)
  src/components/Footer.astro
  src/pages/index.astro
  styles/sass/base/_page.scss
  styles/sass/base/_typography.scss
Due: prettier --write, eslint --fix, stylelint --fix

Maxins update 1
  src/components/Footer.astro
  styles/sass/base/_page.scss
Due: prettier --write, eslint --fix, stylelint --fix

Maxims update 2
  src/components/Footer.astro
  styles/sass/base/_mixins.scss
  styles/sass/base/_page.scss
Due: prettier --write, eslint --fix, stylelint --fix

Maxins update 3
  styles/sass/base/_typography.scss
Due: stylelint --fix

Mixins update 4
  src/components/Footer.astro
  styles/sass/base/_page.scss
  styles/sass/base/_typography.scss
  styles/sass/main.scss
Due: prettier --write, eslint --fix, stylelint --fix

Mixins update 5
  src/components/Footer.astro
  styles/sass/base/_mixins.scss
Due: prettier --write, eslint --fix, stylelint --fix

Maxins update 1 (#10)
  src/components/Footer.astro
  styles/sass/base/_mixins.scss
  styles/sass/base/_page.scss
  styles/sass/base/_typography.scss
  styles/sass/main.scss
Due: prettier --write, eslint --fix, stylelint --fix

Hero update 1
  public/img/header.svg
  src/components/Hero.astro
  src/pages/index.astro
Due: prettier --write, eslint --fix, stylelint --fix

Hero update 2
  src/components/Hero.astro
Due: prettier --write, eslint --fix, stylelint --fix

Hero update 3
  src/components/Hero.astro
Due: prettier --write, eslint --fix, stylelint --fix

Hero proper (#12)
  public/img/header.svg
  src/components/Hero.astro
  src/pages/index.astro
Due: prettier --write, eslint --fix, stylelint --fix

About update 1
  public/img/about.jpg
  src/components/About.astro
  src/components/Hero.astro
  src/pages/index.astro
  styles/sass/base/_page.scss
  styles/sass/main.scss
Due: prettier --write, eslint --fix, stylelint --fix

About update 2
  src/components/About.astro
  src/components/Hero.astro
  styles/sass/main.scss
Due: prettier --write, eslint --fix, stylelint --fix

About update 3
  src/components/About.astro
Due: prettier --write, eslint --fix, stylelint --fix
